<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/enterprise-console/experience/console-experience-list.css">
    <link rel="stylesheet" href="/css/enterprise-console/sidebar/console-sidebar.css">
    <link rel="stylesheet" href="/css/enterprise-console/main/console-header.css">
    <link rel="stylesheet" href="/font/font.css">
    <link rel="shorcut icon" href="/images/member/kok_favicon.png" type="image/x-icon">
    <title>체험 공고 목록 | 콕</title>
</head>
<body>
<div class="wrap-enter">
    <div th:replace="~{enterprise-console/sidebar/console-sidebar}"></div>

    <main class="main">
        <header class="header">
            <div class="header-wrap">
                <nav class="breadcrumb">
                    <ol class="header-ol">
                        <li class="header-li">
                            <span class="header-span">기업용 콘솔</span>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>
        <div class="list-wrap">
            <div class="list-wrap2">
                <div class="list-wrap-inner">
                    <div class="list-wrap-inner2">
                        <div class="list-head">
                            <div class="list-head-text">
                                <h1 class="head-h1">체험 공고 목록</h1>
                                <p class="head-p">등록된 체험 공고를 관리하고 지원자 현황을 확인하세요.</p>
                            </div>
                            <a href="/enterprise-console/experience/create" class="new-exp">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="new-exp-svg"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
                                새 체험 공고
                            </a>
                        </div>
                        <div class="card1-wrap" id="experience-total-wrap"></div>
                        <div class="filter-wrap">
                            <div class="filter-top">
                                <div class="filter-top-main">필터</div>
                                <div class="filter-top-sub">조건을 설정하여 원하는 체험 공고를 찾아 보세요.</div>
                            </div>
                            <div class="filter-body">
                                <div class="filter-search">
                                    <div class="search-main">
                                        <div class="search-main2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-svg"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                                            <input type="text" class="search-input" placeholder="체험 공고명, 직군으로 검색">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="list-cate">
                                        <div class="list-cate-inner" role="tablist">
                                            <button class="category-sub all active">전체</button>
                                            <button class="category-sub ing">모집 중</button>
                                            <button class="category-sub end">모집 종료</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="experience-list-table" class="list-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="/js/console/ex-list/module/service.js"></script>
<script src="/js/console/ex-list/module/layout.js"></script>
<script src="/js/console/ex-list/event.js"></script>
<script src="/js/console/sidebar/event.js"></script>
</html>