<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.CompanyLicenseFileMapper">

    <insert id="insertCompanyLicenseFile">
        insert into tbl_company_license_file(file_id,company_id)
        values (#{fileId},#{companyId})
    </insert>
</mapper>