<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.ConsoleProfileFileMapper">
    <select id="selectProfileFileByCompanyId">
        select
            f.id,
            f.file_origin_name,
            f.file_name,
            f.file_path,
            f.file_size,
            f.file_content_type,
            f.created_datetime,
            f.updated_datetime
        from tbl_file f
             join tbl_company_profile_file cpf
                  on f.id = cpf.file_id
        where cpf.company_id = #{companyId}
        order by f.created_datetime desc
    </select>

    <!-- 이미지 등록 -->
    <insert id="insertFile" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_file (
            file_origin_name,
            file_name,
            file_path,
            file_size,
            file_content_type
        ) values (
            #{fileOriginName},
            #{fileName},
            #{filePath},
            #{fileSize},
            #{fileContentType}
        )
    </insert>

    <!-- 이미지 연결 -->
    <insert id="insertProfileFile">
        insert into tbl_company_profile_file (file_id, company_id)
        values (#{fileId}, #{companyId})
    </insert>

    <!-- 이미지 삭제 -->
    <delete id="deleteFilesByProfileId">
        delete from tbl_company_profile_file
        where company_id = #{companyId}
    </delete>

    <!-- 파일 자체 삭제 -->
    <delete id="deleteFileByCompanyId">
        delete from tbl_file
        where id in (
            select file_id
            from tbl_company_profile_file
            where company_id = #{companyId}
        )
    </delete>
</mapper>

