<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.RequestExperienceFileMapper">
<!--    지원서 파일 insert-->
    <insert id="insertRequestFile">
        insert into tbl_request_experience_file(file_id, request_experience_id)
        values(#{fileId}, #{requestExperienceId})
    </insert>

    <select id="selectFileNameByMemberId" resultType="string">
        select file_origin_name
        from tbl_request_experience re join tbl_request_experience_file refile
        on re.id = refile.request_experience_id
        join tbl_file f
        on f.id = refile.file_id
        and member_id = #{memberId};
    </select>
</mapper>