<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.SaveExperienceNoticeMapper">
<!--    공고 저장 insert-->
    <insert id="insertSaveExp">
        insert into tbl_save_experience_notice(member_id, experience_notice_id)
        values(#{memberId}, #{experienceNoticeId})
    </insert>
<!--    공고 저장 취소-->
    <delete id="deleteSaveExp">
        delete from tbl_save_experience_notice
        where experience_notice_id=#{experienceNoticeId}
        and member_id=#{memberId}
    </delete>
<!--    공고 저장 여부 반환(1, 0)-->
    <select id="selectCountSavedExpByExpId">
        select count(*)
        from tbl_save_experience_notice
        where experience_notice_id=#{experienceNoticeId}
        and member_id=#{memberId}
    </select>
</mapper>