<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.UserMapper">
    <!--  이메일로 전체 조회  -->
    <select id="selectByEmail">
        select u.id, u.user_name, u.user_phone, u.user_email, u.user_password, u.user_role, u.user_status, u.created_datetime, u.updated_datetime, j.job_name
        from tbl_user u left join tbl_user_job_category uj
        on u.id = uj.user_id
        left join tbl_job_category j
        on uj.job_category = j.id
        where user_email = #{userEmail} and user_status = 'active'
    </select>
    <!--  이메일로 일반 회원 조회  -->
    <select id="selectByMemberEmail">
        select id, user_name, user_phone, user_email, user_password, user_role, user_status, created_datetime, updated_datetime
        from tbl_user where user_email = #{userEmail} and user_role = 'member' and user_status = 'active'
    </select>
    <!--  이메일로 기업 회원 조회  -->
    <select id="selectByCompanyEmail">
        select id, user_name, user_phone, user_email, user_password, user_role, user_status, created_datetime, updated_datetime
        from tbl_user where user_email = #{userEmail} and user_role = 'company' and user_status = 'active'
    </select>
    <!--  이메일로 관리자 조회  -->
    <select id="selectByAdminEmail">
        select id, user_name, user_phone, user_email, user_password, user_role, user_status, created_datetime, updated_datetime
        from tbl_user where user_email = #{userEmail} and user_role = 'admin' and user_status = 'active'
    </select>

    <!--  이메일로 회원 조회  -->
    <select id="selectCountByEmail">
        select count(*) from tbl_user
        where user_email = #{userEmail} and user_status = 'active'
    </select>

    <!--    id로 조회-->
    <select id="selectById">
        select id, user_name, user_phone, user_email, user_role, user_status, created_datetime, updated_datetime, sns_email
        from tbl_user
        where id=#{id}
    </select>

    <!--  일반 회원 가입  -->
    <insert id="insertMember" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user(user_name, user_phone, user_email, user_password, user_role)
        values (#{userName},#{userPhone},#{userEmail},#{userPassword},'member')
    </insert>

    <!--  기업 회원 가입  -->
    <insert id="insertCompany" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user(user_name, user_phone, user_email, user_password, user_role)
        values (#{userName},#{userPhone},#{userEmail},#{userPassword},'company')
    </insert>

    <!--  관리자 회원 가입  -->
    <insert id="insertAdmin" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user (user_name, user_phone, user_email, user_password, user_role)
        values (#{userName}, #{userPhone}, #{userEmail}, #{userPassword}, 'admin')
    </insert>

    <!--  sns 이메일로 조회  -->
    <select id="selectBySnsEmail">
        select u.id,u.user_name,u.user_phone,u.created_datetime,u.sns_email,u.user_role,m.member_provider,m.member_profile_url from tbl_user u join tbl_member m
                 on u.id = m.user_id
        where sns_email = #{snsEmail} and user_status = 'active'
    </select>
    <!--  sns 이메일로 회원가입  -->
    <insert id="insertSnsMember" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_user(user_name, user_phone, sns_email, user_role)
        values (#{userName},#{userPhone},#{snsEmail},#{userRole})
    </insert>
    <!--  비밀번호 변경  -->
    <update id="updatePassword">
        update tbl_user
        set user_password = #{userPassword}
        where user_email = #{userEmail}
    </update>
<!--  phoneNumber로 이메일 조회  -->
    <select id="selectEmailByPhone">
        select u.user_email,u.created_datetime from tbl_user u join tbl_member m
        on u.id = m.user_id
        where u.user_phone = #{userPhone} and m.member_provider = 'kok' and u.user_status = 'active'
    </select>

</mapper>
